---
- name: Deploy and configure Gonka server
  hosts: gonka_server
  become: false
  vars:
    user_dir: "/home/{{ ansible_user }}"
    project_root: "{{ user_dir }}/gonka"
    join_dir: "{{ project_root }}/deploy/join"

  tasks:
    - name: Run nvidia-smi
      ansible.builtin.command:
        cmd: nvidia-smi
      changed_when: false
      register: command_output_nvidia_smi

    - name: Print the output
      ansible.builtin.debug:
        var: command_output_nvidia_smi.stdout_lines

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      changed_when: false
      become: true

    - name: Install prerequisites (git, docker, python3-pip)
      ansible.builtin.apt:
        name:
          - git
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
          - python3-pip
        state: present
      become: true

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: true
      become: true

    - name: Clone gonka repository
      ansible.builtin.git:
        repo: "https://github.com/gonka-ai/gonka.git"
        dest: "{{ project_root }}"
        version: main

    - name: Create .env file
      ansible.builtin.template:
        src: templates/env.j2
        dest: "{{ join_dir }}/.env"
        mode: "0600"

    - name: Copy node_config.json
      ansible.builtin.copy:
        src: templates/node-config.json
        dest: "{{ join_dir }}/node-config.json"
        mode: "0644"
      tags: update_config

    - name: Install huggingface-hub
      ansible.builtin.pip:
        name: huggingface-hub
        executable: pip3

    - name: Download Qwen model
      ansible.builtin.command:
        cmd: hf download Qwen/Qwen3-32B-FP8
      changed_when: true

    - name: Pull Docker Images
      ansible.builtin.command:
        cmd: docker compose -f docker-compose.yml -f docker-compose.mlnode.yml pull
        chdir: "{{ join_dir }}"
      changed_when: true

    - name: Start tmkms and node services
      ansible.builtin.command:
        cmd: docker compose up tmkms node -d --no-deps
        chdir: "{{ join_dir }}"
      changed_when: true

    - name: Wait for node to initialize
      ansible.builtin.pause:
        minutes: 1

    - name: Get node container logs
      ansible.builtin.command:
        cmd: docker compose logs node
        chdir: "{{ join_dir }}"
      register: node_logs
      changed_when: false

    - name: Display node container logs
      ansible.builtin.debug:
        var: node_logs.stdout_lines

    - name: Create ML Operational Key
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          printf '%s\n%s\n' "{{ KEYRING_PASSWORD }}" "{{ KEYRING_PASSWORD }}" | \
          docker compose run --rm --no-deps api \
          inferenced keys add "{{ KEY_NAME }}" --keyring-backend file
        chdir: "{{ join_dir }}"
        executable: /bin/bash
      register: key_output
      no_log: true
      changed_when: true

    - name: Display Key Info and Wait
      ansible.builtin.pause:
        prompt: |

          ============================================================
          IMPORTANT: COPY THE KEY INFORMATION BELOW
          ============================================================

          {{ key_output.stdout }}

          ============================================================
          Press ENTER only after you have safely copied the data.

    - name: Extract ML Operational Key address
      ansible.builtin.set_fact:
        ml-operational-key-address: "{{ key_output.stdout | regex_search('address: (.*)', '\\1') | first }}"

    - name: Run inference grant-ml-ops-permissions command
      ansible.builtin.pause:
        prompt: |
          ./inferenced tx inference grant-ml-ops-permissions \
              gonka-account-key \
              {{ ml-operational-key-address }} \
              --from gonka-account-key \
              --keyring-backend file \
              --gas 2000000 \
              --node http://node2.gonka.ai:8000/chain-rpc/

    - name: Extract Consensus KEY address
      ansible.builtin.command:
        cmd: docker compose run --rm --entrypoint /bin/sh tmkms -c "tmkms-pubkey"
        chdir: "{{ join_dir }}"
      changed_when: false
      register: tmkms_consensus_key

    - name: Run submit-new-participant command
      ansible.builtin.pause:
        prompt: |
          ./inferenced tx inference submit-new-participant \
               http://{{ ansible_default_ipv4.address }}:8000 \
              --validator-key {{ tmkms_consensus_key.stdout }} \
              --keyring-backend file \
              --unordered \
              --from <gonka_cold_key> \
              --timeout-duration 1m \
              --node http://node2.gonka.ai:8000/chain-rpc/ \
              --chain-id gonka-mainnet

    - name: Launch Full Node
      ansible.builtin.command:
        cmd: docker compose -f docker-compose.yml -f docker-compose.mlnode.yml up -d
        chdir: "{{ join_dir }}"
      changed_when: true
